FakeGenerator/bin/Debug/FakeGenerator.exe
FakeGenerator/bin/Debug/FakeGenerator.exe
FakeGenerator/bin/Debug/FakeGenerator.pdb
FakeGenerator/obj/x86/Debug/FakeGenerator.exe
FakeGenerator/obj/x86/Debug/FakeGenerator.pdb
